<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 2:  </h1><span class="titlespan"></span><h2>Jobs & Work</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
		<div class="tacenter"><table width="90%" border="0">
		<tbody><tr>
		<td><div class="tacenter"><img src="<%= asset_url("pic1.gif")%>" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic2.gif")%>" alt="baker(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic3.gif")%>" alt="barber(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>accountant(s)</th>
		<th>baker(s)</th>
		<th>barber(s)</th>
		</tr>
		<tr>
		<td width="33%"><div class="tacenter"><img src="<%= asset_url("pic4.gif")%>" alt="bar(man/maid)(men/maids)" width="150" height="103" border="0"></div></td>
		<td width="33%"><div class="tacenter"><img src="<%= asset_url("pic5.gif")%>" alt="builder(s)" width="150" height="103" border="0"></div></td>
		<td width="33%"><div class="tacenter"><img src="<%= asset_url("pic6.gif")%>" alt="butcher(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>barman (barmen)</th>
		<th>builder(s)</th>
		<th>butcher(s)</th>
		</tr>
		<tr>
		<td width="33%"><div class="tacenter"><img src="<%= asset_url("pic7.gif")%>" alt="carpenter(s)" width="150" height="103" border="0"></div></td>
		<td width="33%"><div class="tacenter"><img src="<%= asset_url("pic8.gif")%>" alt="cashier(s)" width="150" height="103" border="0"></div></td>
		<td width="33%"><div class="tacenter"><img src="<%= asset_url("pic9.gif")%>" alt="chambermaid(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>carpenter(s)</th>
		<th>cashier(s)</th>
		<th>chambermaid(s)</th>
		</tr>
		<tr>
		<td width="33%"><div class="tacenter"><img src="<%= asset_url("pic10.gif")%>" alt="chef(s)" width="150" height="103" border="0"></div></td>
		<td width="33%"><div class="tacenter"><img src="<%= asset_url("pic11.gif")%>" alt="cleaner(s)" width="150" height="103" border="0"></div></td>
		<td width="33%"><div class="tacenter"><img src="<%= asset_url("pic12.gif")%>" alt="dentist(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>chef(s)</th>
		<th>cleaner(s)</th>
		<th>dentist(s)</th>
		</tr>
		<tr>
		<td><div class="tacenter"><img src="<%= asset_url("pic13.gif")%>" alt="doctor(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic14.gif")%>" alt="electrician(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic15.gif")%>" alt="engineer(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>doctor(s)</th>
		<th>electrician(s)</th>
		<th>engineer(s)</th>
		</tr>
		<tr>
		<th><div class="tacenter"><img src="<%= asset_url("pic16.gif")%>" alt="fire(man/woman)(men/women)" width="150" height="103" border="0"></div></th>
		<th><div class="tacenter"><img src="<%= asset_url("pic17.gif")%>" alt="fishmonger(s)" width="150" height="103" border="0"></div></th>
		<th><div class="tacenter"><img src="<%= asset_url("pic18.gif")%>" alt="flight attendant(s)" width="150" height="103" border="0"></div></th>
		</tr>
		<tr>
		<th>fireman (firemen)</th>
		<th>fishmonger(s)</th>
		<th>flight attendant(s)</th>
		</tr>
		<tr>
		<td><div class="tacenter"><img src="<%= asset_url("pic19.gif")%>" alt="hair dresser(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic20.gif")%>" alt="judge(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic21.gif")%>" alt="lawyer(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>hairdresser(s)</th>
		<th>judge(s)</th>
		<th>lawyer(s)</th>
		</tr>
		<tr>
		<td><div class="tacenter"><img src="<%= asset_url("pic22.gif")%>" alt="nurse(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic23.gif")%>" alt="optician(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic24.gif")%>" alt="painter(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>nurse(s)</th>
		<th>optician(s)</th>
		<th>painter(s)</th>
		</tr>
		<tr>
		<th><div class="tacenter"><img src="<%= asset_url("pic25.gif")%>" alt="photographer(s)" width="150" height="103" border="0"></div></th>
		<th><div class="tacenter"><img src="<%= asset_url("pic26.gif")%>" alt="plumber(s)" width="150" height="103" border="0"></div></th>
		<th><div class="tacenter"><img src="<%= asset_url("pic27.gif")%>" alt="police(man/woman)(men/women)" width="150" height="103" border="0"></div></th>
		</tr>
		<tr>
		<th>photographer(s)</th>
		<th>plumber(s)</th>
		<th>policeman (policemen)</th>
		</tr>
		<tr>
		<td><div class="tacenter"><img src="<%= asset_url("pic28.gif")%>" alt="porter(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic29.gif")%>" alt="post(man/woman)(men/women)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic30.gif")%>" alt="receptionist(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>porter(s)</th>
		<th>post[wo]man (post[wo]men)</th>
		<th>receptionist(s)</th>
		</tr>
		<tr>
		<td><div class="tacenter"><img src="<%= asset_url("pic31.gif")%>" alt="reporter(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic32.gif")%>" alt="sales assistant(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic33.gif")%>" alt="sales representative(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>reporter(s)</th>
		<th>sales assistant(s)</th>
		<th>sales representative(s)</th>
		</tr>
		<tr>
		<td><div class="tacenter"><img src="<%= asset_url("pic34.gif")%>" alt="scientist(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic35.gif")%>" alt="secretary(ies)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic36.gif")%>" alt="surgeon(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>scientist(s)</th>
		<th>secretary (secretaries)</th>
		<th>surgeon(s)</th>
		</tr>
		<tr>
		<td><div class="tacenter"><img src="<%= asset_url("pic37.gif")%>" width="130" height="130" alt="Technician"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic38.gif")%>" width="100" height="93" alt="Teacher"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic39.gif")%>" width="120" height="100" alt="Technician"></div></td>
		</tr>
		<tr>
		<th>tailor(s)</th>
		<th>teacher(s)</th>
		<th>technician(s)</th>
		</tr>
		<tr>
		<td><div class="tacenter"><img src="<%= asset_url("pic40.gif")%>" alt="vet(s)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic41.gif")%>" alt="waiter(s)/waitress(es)" width="150" height="103" border="0"></div></td>
		<td><div class="tacenter"><img src="<%= asset_url("pic42.gif")%>" alt="welder(s)" width="150" height="103" border="0"></div></td>
		</tr>
		<tr>
		<th>vet(s)</th>
		<th>waiter(s)</th>
		<th>welder(s)</th>
		</tr>
		</tbody></table>
		</div>
    </p></div></div>
</div>